h1 { color: blue;
}
p { color: red; 
}
body { color:rgb(134, 26, 26);
}

h2 {
    width: 20%;
    float: right;
    margin-right: 30%;
}



img {
    width: 200px;
    margin-left: 30%;
    border-radius: 100%
}
.link { 
    height: 1%;
    width: 1%;
}

